
body {
	margin: 0 auto;
	margin-top: 0px;
	font-size:18px
}
.bg { background-image: url(erciyuan/tupian02.jpg); padding: 10px; background-attachment: scroll; background-repeat: no-repeat;  }
.bg p {text-align:center;}

.bg2{background-image:url(erciyuan/tupian04.jpg); padding: 10px; background-attachment:scroll; background-repeat:no-repeat; }
.bg2 h1 {text-align:center;}

.container {margin:0 auto;}
p {margin:0 10px;}
p {line-height:200%}
h1 {color:#333333;}
img {width:100%;}
@media (min-width: 480px){
	.im{ width:100%;}
@media (min-width:1200px){
	.im{ width:1200px}
.im {margin:0 auto;}
	
.btn{
	width: 40PX;
	height: 80px;
	position:fixed;
	bottom:30px;
	background:red;
	left:50%;
	margin-left:600px;
		}
	
	
